.App {
	text-align: center;
}
.particles{
	position: fixed;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
@font-face {
	font-family: 'NEXA';
	font-style: normal;
	font-weight: normal;
	src: local('NEXA'), url('Nexa.otf') format('otf');
}
h1 {
	font-family: 'NEXA';
	font-weight: 4000;
	color: white;
	font-size: 100px;
}
h4 {
	font-family: 'NEXA';
	color: white;
}